.services{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    place-content: center;
}


@media screen and (max-width: 680px){
    .services{
        display: flex;
        flex-direction: column;
    }
}